  
body {
    margin: 0;
}

* {
    font-family: 'Raleway', sans-serif;
}

main,
header,
.recherche {
    margin: 0 3vw 0 3vw;
}

/* 1. HEADER + NAV */
header {
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

#menu {
    width: 33%;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    list-style: none;
}

#menu .ancres,
#inscrire {
    padding: 33px 30px 0 30px;
    text-decoration: none;
    text-align: center;
}

#menu .ancres:hover {
    border-top: 3px solid #0065FC;
}

#menu a:hover {
    color: #0065FC;
}

a {
    text-decoration: none;
}

/* 1. NIVEAUX DE TEXTE */

h1 {
    font-size: 1.5em;
    margin: 30px 0 0 0;
}

/* 1. TEXTE COURANT  */

.ancres a,
.inscrire,
.texte-infos,
.caption,
.texte-courant,
.placeholder {
    font-size: 1em;
    color: black;
    font-weight: normal;
}

/* 1. COMPOSANTS */

.white {
    color: white;
}

.bleu {
    color: #0065FC;
}

em,
.bold {
    font-weight: bold;
    line-height: normal;
    margin: 0 0 5px 0;
}

.emphase {
    font-weight: bold;
    font-size: 1.1em;
}

/* 1. ICONES*/

.icone {
    height: 14px;
    width: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px;

    font-size: 1.2em;
}

/* 1. BARRE RECHERCHE */

form .icone {
    border-radius: 0.7em 0 0 0.7em;
    background-color: #F2F2F2;
}

#barre-search {
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 1em;
    width: 45%;
}

#barre-search input {
    padding-left: 10px;
    flex: 1;

    text-decoration: none;
    border: none;
}

#barre-search input:focus {
    outline: none;
}

button {
    padding: 0 15px 0 15px;
    cursor: pointer;

    background-color: #0065FC;
    color: white;
    font-size: 1.1em;
    border-radius: 0 0.9em 0.9em 0;
    border: none;
    outline: none;
}

.search {
    display: none;
    color: white;
}

.recherche .texte-courant {
    margin-top: 8px;
}

/* 1. FILTRES */

.filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0 20px 0;
}

.filtre-box {
    display: flex;
    align-items: center;
    margin: 10px 20px 10px 0;

    border: 2px solid #d8d8d8;
    border-radius: 3em;
}

.filtre-box .icone {
    color: #0065FC;
    background-color: #d3e5ff;
    border-radius: 3em;
    transform: translate(-2px, 0px);
}

.filtres h3 {
    margin-right: 20px;
}

.texte-filtre {
    padding-left: 10px;
    margin: 0;
}

/* 1. INFOS */

.bloc-infos {
    display: flex;
    align-items: baseline;
}

.i-infos {
    padding: 5px 9px 5px 9px;

    color: #0065FC;
    font-size: 0.7em;
    border: 2px solid #F2F2F2;
    border-radius: 3em;
}

.texte-infos {
    margin-left: 10px;
}

/* 1. SECTION IMAGES */

#logements {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.left,
.populaires {
    display: flex;
    flex-direction: column;
    padding: 2.5vw;
    background-color: #F2F2F2;
    border-radius: 2em;
}

.left {
    width: 65vw;
    justify-content: space-around;
    margin-right: 3vw;

}

.galerie-hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* 1. BOX FIGURE */

figure {
    position: relative;
    height: 13vw;
    padding: 5px;
    margin: 0 0 2.5vw 0;
    
    border-radius: 1em;
    box-shadow: 0 0 15px #cccccc;
    overflow: hidden;
    background-color: white;
}

figure:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

figure img {
    border-radius: 1em;
    width: 16vw;
}

figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 0.5em;
    background-color: white;
}

.caption {
    margin: 10px 0 0 10px;
}
/* -------- */

figure .img-quatre {
    object-position: 0 -80px;
}

figure .img-six {
    object-position: 0 -170px;
}

figure .img-une,
figure .img-deux,
figure .img-trois {
    object-position: 0 -30px;
}


/* 1. POPULAIRES */

.right{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.populaires {
    width: 30vw;
}

.populaires h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.populaires figure {
    height: 9.5vw;
}

.populaires figcaption {
    right: 0;
    height: 100%;
    width: 60%;
    line-height: normal;
}

.populaires figure img {
    height: 100%;
    width: 50%;
    object-fit: cover;
}


/* 1. ACTIVITÉS */

#activités {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

#activités figcaption {
    display: flex;
    justify-content: flex-start;
    height: auto;
    line-height: 1.3em;
}

#activités .caption {
    margin-bottom: 15px;
}

#activités img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#activités figure {
    height: auto;
    padding: 0;
}

.galerie-activités {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 180px 50px 50px 180px;
    grid-auto-flow: column;
    margin-bottom: 30px;
    object-fit: cover;
}

figure:first-child {
    grid-column: 1;
    grid-row: 1 / 5;
}

figure:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / 4;
}

figure:nth-child(3) {
    grid-column: 2;
    grid-row: 4/ 5;
}

figure:nth-child(4) {
    grid-column: 3;
    grid-row: 1 / 5;
}

figure:nth-child(5) {
    grid-column: 4;
    grid-row: 1/ 3;
}

figure:nth-child(6) {
    grid-column: 4;
    grid-row: 3/ 5;
}

/* 1. ÉTOILES */

.notes {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
    margin: 0;
    font-size: 12px;
    color: #d8d8d8;
    border: none;
}

/* 1. FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 30px 25% 50px 50px;
    background-color: #F2F2F2;
}

/*2. RESPONSIVE  TABLETTE */
@media screen and (max-width: 1212px) {

    main {
        margin: 0 10% 0 10%;
    }

    #barre-search {
        width: 95%;
    }

    /* 2. SECTION IMAGE */
    
    #logements {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .populaires,
    .left {
        width: 100%;
        margin: 60px 0 0 0;
    }

    figure {
        margin: 2.5vw;
        width: 28vw;
        height: 187px;
    }

    figure:hover {
        transform: none;
    }
    
    .left figure img {
        width: 100%;
    }

    .populaires figure {
        height: 18vw;
        width: 75%;
    }
    .populaires figure img {
        width: 60%;
    }
    .galerie-activités {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #activités {
        margin-top: 30px;
    }

    .galerie-hebergement {
        justify-content: center;
    }

    .galerie-activités {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #activités figure {
        width: 90%;
        height: 200px;
    }

    footer {
        padding: 30px 5% 50px 50px;
    }
}

/* 3. RESPONSIVE  MOBILE */

@media screen and (max-width: 710px) {

    body,
    main,
    header,
    .recherche,
    #activités,
    #menu {
        margin: 0;
    }

    .left h2,
    .left h3,
    .populaires h2,
    #activités h2 {
        margin-left: 20px;
    }

    #logo {
        margin: 15px 0 0 20px;
    }

    header {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #menu {
        margin-top: 30px;
        padding: 0;
        border-bottom: 3px solid #F2F2F2;
        flex-wrap: wrap-reverse;
        justify-content: center;
        width: 100%;
    }

    #menu .ancres {
        width: 50%;
        text-align: center;
        padding: 0 0 10px 0;
    }

    #menu .ancres:hover {
        border-top: 0;
        margin-bottom: -3px;
        border-bottom: 3px solid #0065FC;
        padding: 0 0 10px 0;
    }

    #menu a:hover {
        color: #0065FC;
    }

    /* 3. SEARCH */

    .recherche {
        margin: 0 20px 0 20px;
    }

    #inscrire {
        text-align: end;
        position: absolute;
        top: 0;
        right: 0;
    }

    .texte-recherche {
        display: none;
    }

    button {
        padding: 0;
        border-radius: 0.8em;
    }

    .search {
        display: flex;
        padding: 10px 17px 10px 17px;
    }

    .filtres {
        flex-direction: column;
        align-items: flex-start;
    }

    /* 3. SECTION IMAGES */

    .populaires,
    .left {
        border-radius: 0em;
        padding: 0;
        margin: 0;
    }

    .left {
        background-color: white;
    }

    .left figure {
        height: 50vw;
        width: 90%;
    }


figure .img-six {
    object-position: 0 -210px;
}

figure .img-une,
figure .img-deux,
figure .img-trois {
    object-position: 0 -80px;
}
figure .img-quatre {
    object-position: 0 -100px;
}



    .populaires figure {
        height: 35vw;
        width: 85%;
    }

    footer {
        background-color: #F2F2F2;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
   /* 4. GRAND ÉCRAN */

@media screen and (min-width: 1570px) {
    h1 {
        font-size: 1.6em;
    }
    
    .ancres a,
    .inscrire,
    .texte-infos,
    .caption,
    .texte-courant,
    .placeholder {
        font-size: 1.4em;
        color: black;
        font-weight: normal;
    }

    .emphase {
        font-size: 1.4em;
        font-weight:bold;
    }
    .galerie-activités {
        grid-template-rows: 250px 130px 130px 250px;
}