  body {
      margin: 0;
  }

  * {
      font-family: 'Raleway', sans-serif;
  }

  main,
  header,
  .recherche {
      margin: 0 3vw 0 3vw;
  }

  /* 1. HEADER + NAV */
  header {
      display: flex;
      justify-content: space-between;
  }

  #logo {
      margin-top: 20px;
  }

  nav {
      display: flex;
      justify-content: flex-end;
  }

  #menu {
      width: 33%;
      display: flex;
      justify-content: flex-end;
      margin: 0px;
      list-style: none;
  }

  #menu .ancres,
  #inscrire {
      padding: 33px 30px 0 30px;
      text-decoration: none;
      text-align: center;
  }

  #menu .ancres:hover {
      border-top: 3px solid #0065FC;
  }

  #menu a:hover {
      color: #0065FC;
  }

  a {
      text-decoration: none;
  }

  /* 1. NIVEAUX DE TEXTE */

  h1 {
      font-size: 1.5em;
      margin: 30px 0 0 0;
  }

  /* 1. TEXTE COURANT  */

  .ancres a,
  .inscrire,
  .texte-infos,
  .texte-caption,
  .texte-courant,
  .placeholder {
      font-size: 0.9em;
      color: black;
      font-weight: normal;
      line-height: 1.5em;
  }

  /* 1. COMPOSANTS */

  .white {
      color: white;
  }

  .bleu {
      color: #0065FC;
  }

  em,
  .bold {
      font-weight: bold;
      line-height: normal;
      margin: 0 0 5px 0;
  }

  .emphase {
      font-weight: bold;
      font-size: 1em;
  }

  /* 1. ICONES*/

  .icone {
      height: 14px;
      width: 14px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 18px;

      font-size: 1.2em;
  }

  /* 1. BARRE RECHERCHE */

  form .icone {
      border-radius: 0.7em 0 0 0.7em;
      background-color: #F2F2F2;
  }

  #barre-search {
      display: flex;
      border: 2px solid #F2F2F2;
      border-radius: 1em;
      width: 45%;
  }

  #barre-search input {
      padding-left: 10px;
      flex: 1;

      text-decoration: none;
      border: none;
  }

  #barre-search input:focus {
      outline: none;
  }

  button {
      padding: 0 15px 0 15px;
      cursor: pointer;

      background-color: #0065FC;
      color: white;
      font-size: 1.1em;
      border-radius: 0 0.9em 0.9em 0;
      border: none;
      outline: none;
  }

  .search {
      display: none;
      color: white;
  }

  .recherche .texte-courant {
      margin-top: 8px;
  }

  /* 1. FILTRES */

  .filtres {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 20px 0 20px 0;
  }

  .filtre-card {
      display: flex;
      align-items: center;
      margin: 10px 20px 10px 0;
      border: 2px solid #d8d8d8;
      border-radius: 3em;
  }
  .filtre-card:hover  {
    transition: 0.9s;
    background-color: #DEEBFF;
    transform: scale(1.1);
    flex-direction: row-reverse;
    border: 2px solid #DEEBFF;
    color: #0065FC;
}

.filtre-card:hover .icone  {
    transform: scale(1);
}

  .filtre-card .icone {
      color: #0065FC;
      background-color: #DEEBFF;
      border-radius: 3em;
      transform: scale(1.1);
  }

  .filtres h3 {
      margin-right: 20px;
  }

  .texte-filtre {
      padding-left: 15px;
      margin: 0;
  }

  /* 1. INFOS */

  .bloc-infos {
      display: flex;
      align-items: baseline;
  }

  .i-infos {
      padding: 5px 9px 5px 9px;

      color: #0065FC;
      font-size: 0.7em;
      border: 2px solid #F2F2F2;
      border-radius: 3em;
  }

  .texte-infos {
      margin-left: 10px;
  }

  /* 1. SECTION IMAGES */

  #hebergement-et-populaires {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }


  .hebergement,
  .populaires {
      display: flex;
      flex-direction: column;
      padding: 2.5vw;
      background-color: #F2F2F2;
      border-radius: 2em;
  }

  .hebergement {
      width: 65vw;
      justify-content: space-around;
      margin-right: 3vw;
  }

  .container-img-hebergements  {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  /* 1. FIGURE CARD */

.card {
      position: relative;
      height: 13vw;
      padding: 5px;
      margin: 0 0 2.5vw 0;
      border-radius: 1em;
      box-shadow: 0 0 15px #cccccc;
      overflow: hidden;
      background-color: white;
  }

  .card:hover {
      transform: scale(1.1);
      transition: 0.2s;
  }

  .card img {
      border-radius: 1em;
      width: 16vw;
  }

  figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white;
  }

  .texte-caption {
      margin: 3% 3% 0 3%;
  }

  /* -------- */

  .card .img-quatre {
      object-position: 0 -80px;
  }

  .card .img-six {
      object-position: 0 -170px;
  }

  .card .img-une,
  .card .img-deux,
  .card .img-trois {
      object-position: 0 -30px;
  }

  /* 1. POPULAIRE */

  .container-img-populaire {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .populaires {
      width: 30vw;   
  }

  .populaires h2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0 20px 0;
  }

  .populaires figure {
      height: 9.5vw;
  }

  .populaires figcaption {
      right: 0;
      height: 100%;
      width: 60%;
  }

  .populaires .card img {
      height: 100%;
      width: 50%;
      object-fit: cover;
  }


  /* 1. ACTIVITÉS */

  #activités {
      margin: 60px 0 60px 0;
      display: flex;
      flex-direction: column;
  }

  #activités figcaption {
      display: flex;
      justify-content: flex-start;
      height: auto;
      line-height: 1.3em;
  }

  #activités .texte-caption {
      margin-bottom: 15px;
  }

  #activités img {
 
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  #activités .card {
      height: 100%;
      padding: 0;
  }

  .container-img-activités {
      display: grid;
      justify-content: space-around;
      grid-template-columns: 23% 23% 23% 23%;
      grid-template-rows: 180px 20px 20px 180px;
      grid-gap: 30px;
  }

.activités-card-1{
      grid-column: 1;
      grid-row: 1 / 5;
  }

.activités-card-2 {
      grid-column: 2;
      grid-row: 1 / 4;
  }

.activités-card-3 {
      grid-column: 2;
      grid-row: 4/ 5;
  }

.activités-card-4 {
      grid-column: 3;
      grid-row: 1 / 5;
  }

.activités-card-5 {
      grid-column: 4;
      grid-row: 1/ 3;
  }

.activités-card-6 {
      grid-column: 4;
      grid-row: 3/ 5;
  }

  /* 1. ÉTOILES */

  .notes {
      display: flex;
      flex-direction: row-reverse;
      align-self: flex-start;
      margin: 0;
      font-size: 0.7em;
      color: #d8d8d8;
      border: none;
  }

  /* 1. FOOTER */

  footer {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 30px 25% 50px 50px;
      background-color: #F2F2F2;
  }

  /*2. RESPONSIVE  TABLETTE */

  @media screen and (max-width: 1212px) {

      main {
          margin: 0 10% 0 10%;
      }

      #barre-search {
          width: 95%;
      }

      /* 2. SECTION IMAGE */

      #hebergement-et-populaires {
          flex-direction: column-reverse;
          justify-content: space-between;
          align-items: center;
      }

      .populaires,
      .hebergement {
          width: 100%;
          margin: 60px 0 0 0;  
      }

      .card:hover {
          transform: none;
      }
       .hebergement .card  {
        margin:  2.5vw;
        width: 28vw;
        height: 22vw;
}
      .hebergement .card img {
          width: 100%;
      }

      .populaires .card  {
          height: 18vw;
          width: 50vw;          
        margin:  2.5vw auto 30px auto ;

 }

      .populaires .card img {
          width: 60%;
   }

      .container-img-activités {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
      }

      #activités {
          margin-top: 30px;
      }

      .container-img-hebergements  {
          justify-content: center;
      }

      .container-img-activités {
          display: flex;
          flex-direction: column;
      }

      #activités .card {
          width: 90%;
          height: 200px;
          margin:  auto;
      }

      footer {
          padding: 30px 5% 50px 50px;
      }
  }

  /* 3. RESPONSIVE  MOBILE */

  @media screen and (max-width: 700px) {

      body,
      main,
      header,
      .recherche,
      #activités,
      #menu {
          margin: 0;
      }

      .hebergement h2,
      .hebergement h3,
      .populaires h2,
      #activités h2 {
          margin-left: 20px;
      }

      #logo {
          margin: 15px 0 0 20px;
      }

      header {
          flex-wrap: wrap;
          flex-direction: column;
      }

      #menu {
          margin-top: 30px;
          padding: 0;
          border-bottom: 3px solid #F2F2F2;
          flex-wrap: wrap-reverse;
          justify-content: center;
          width: 100%;
      }

      #menu .ancres {
          width: 50%;
          text-align: center;
          padding: 0 0 10px 0;
      }

      #menu .ancres:hover {
          border-top: 0;
          margin-bottom: -3px;
          border-bottom: 3px solid #0065FC;
          padding: 0 0 10px 0;
      }

      #menu a:hover {
          color: #0065FC;
      }

      /* 3. SEARCH */

      .recherche {
          margin: 0 20px 0 20px;
      }

      #inscrire {
          text-align: end;
          position: absolute;
          top: 0;
          right: 0;
      }

      .texte-recherche {
          display: none;
      }

      button {
          padding: 0;
          border-radius: 0.8em;
      }

      .search {
          display: flex;
          padding: 10px 17px 10px 17px;
      }

      .filtres {
          flex-direction: column;
          align-items: flex-start;
      }

      /* 3. SECTION IMAGES */

      .populaires,
      .hebergement {
          border-radius: 0em;
          padding: 0;
          margin: 0;
      }

      .hebergement {
          background-color: white;
      }

      .hebergement .card {
          max-height: 450px;
          min-height: 200px;

          width: 85vw;
          margin:  2.5vw auto;

      }
      figure .img-six {
          object-position: 0 -210px;
      }

      figure .img-une,
      figure .img-deux,
      figure .img-trois {
          object-position: 0 -80px;
      }

      figure .img-quatre {
          object-position: 0 -100px;
      }

      .populaires .card {
          width: 85%;
          height: 130px;

      }

      footer {
          background-color: #F2F2F2;
          padding: 20px;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
      }
  }

  /* 4. GRAND ÉCRAN */

  @media screen and (min-width: 1900px) {
      h1, h2 {
          font-size: 1.8em;
      }

      .ancres a,
      .inscrire,
      .texte-infos,
      .texte-caption,
      .texte-courant,
      .placeholder {
          font-size: 1.3em;
          color: black;
          font-weight: normal;
      }

      .emphase{
          font-weight: bold;
          font-size: 1.3em;
      }

      .container-img-activités {
          grid-template-rows: 250px 130px 130px 250px;
      }
  }